<h1>US Time Zone Display</h1>
<div>
    <button (click)="changetime('PST')" [ngClass]="{'yellow':local_time.pst}">PST</button>
    <button (click)="changetime('MST')" [ngClass]="{'yellow':local_time.mst}">MST</button>
    <button (click)="changetime('CST')" [ngClass]="{'yellow':local_time.cst}">CST</button>
    <button (click)="changetime('EST')" [ngClass]="{'yellow':local_time.est}">EST</button>
    <button (click)="changetime('TT')">Clear</button>

</div>

<h3>{{local_time.time |  date:'medium'}}</h3>